*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.dvi
*.pdfsync
~$*.docx
~$*
build/
$outputDir/
*.synctex
*.synctex(busy)
code/.idea/
code/.vs/
code/cmake-build-debug/
code/cmake-build-release/
code/build-benchmark/
code/out/
code/Normalized_WT.dat
code/datasets/Normalized_WT.dat
